.load {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: var(--gray);
    animation: loading 1s linear 0s 1 forwards;
}

@keyframes loading {
    from {visibility: visible;}
    to {visibility: hidden;}
}

.circle_box {
    margin: auto;
    margin-top: 40vh;
    width: fit-content;
    height: fit-content;
}

.circle {
    position: fixed;
    background: url("img/polytech_logo_black.png");
    background-color: var(--green);
    background-blend-mode: multiply !important;
    mix-blend-mode: lighten !important;
    width: 150px;
    height: 150px;
    animation: cicrle_rotate 3 1s linear;
    
}

@keyframes cicrle_rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}