@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: calc(100vw/1920) !important;
/*    Хоть какой-то адаптив*/
}

::-webkit-scrollbar {
    width: 30rem;
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 30rem;
    
    background-color: transparent;
}

/*
::-webkit-scrollbar-track {
    background: blue;
}
*/

::-webkit-scrollbar-thumb {
    display: block;
    box-sizing: border-box;
    
    border-color: #151515;
    border-style: solid;
    border-width: 11rem;
    border-radius: 100px;
    
    background-color: lightgray;
    
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

.explotion1 {
    position: absolute;
    
    background: url("img/Explotion.png");
    background-color: #151515;
    
    background-repeat: no-repeat;
    background-blend-mode: screen;
    filter: hue-rotate(139deg) brightness(150%) contrast(208%);
}

#exp1 {
    top: 681px;
    width: 326px;
    height: 678px;
    background-position: -1227px;
}

header {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 51px;
    padding: 0;
}

.header_content {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    padding: 0;
}

#logo {
    margin-left: 484rem;
    width: 191px;
    height: 93px;
    
    background: url("img/logo.png");
}

.sm_icons_box {
    margin-left: 176rem;
}

.sm_icons {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat !important;
    margin: 12px;
}

#sm_facebook {
    width: 15px;
    height: 30px;
    
    background: url("img/sm_facebook.png");
    background-repeat: no-repeat;
}

#sm_instagram {
    width: 30px;
    height: 29px;
    
    background: url("img/sm_instagram.png");
}

#sm_instagram::before {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -6px;
    
    content: "";
    background: #06DD06;
    height: 117px;
    width: 40px;
}

#sm_twitter {
    width: 32px;
    height: 26px;
    
    background: url("img/sm_twitter.png");
}

#sm_linkedin {
    width: 30px;
    height: 28px;
    
    background: url("img/sm_linkedin.png");
}

#contact_us {
    box-sizing: border-box;
    margin-left: 454rem;
    padding: 21px 23px;

    border: 1px solid #06DD06;
    box-shadow: 0 0 5px 0 #06DD06, inset 0 0 5px 0 #06DD06;
}